{% extends 'base.html' %}


{% block content%}

<div class="container border border-dark p-3 m-5">

{% if message %}

    <div class="alert alert-primary" role="alert">
      {{message}}
      </div>
      {% endif %}

    <h4 class="bg-dark text-white p-3">Register</h4>

<form method="post" action={% url 'register'%}>
    
    {% csrf_token %}

{% for field in form %}
             {{field.label_tag}}
             {{field}}
             <div id="emailHelp" class="form-text text-muted">{{field.help_text}}</div>
             
{% endfor %}

<button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>

{% endblock %}