<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'Details'%}" method="post">
        {% csrf_token %}
        <label for="">Enter username</label>
        <input type="text" name="username">

        <label for="">City</label>
        <input type="text" name="city">

        <button type="submit">Click Here</button>

    </form>

    <hr>

    {%if username%}
            <h1>username is {{username}}</h1>
            <h1>city is {{city}}</h1>
    {%endif%}
</body>
</html>