{% extends 'base.html'%}

{% block content%}


<a class="btn btn-success" href="{% url 'createproduct'%}" role="button">Create Product</a>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Update product</th>
        <th scope="col">delete Product</th>
      </tr>
    </thead>
    <tbody>
        {% for product in object_list%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.product_name}}</td>
        <td><a  class="btn btn-success" href="{% url 'updateproduct' product.id %}" role="button">Update</a></td>
        <td><a  class="btn btn-danger" href="{% url 'deleteproduct' product.id %}" role="button">delete</a></td>
       
      </tr>
      {% endfor%}
    
    </tbody>
  </table>


{% endblock %}